@font-face {
    font-family: "TT Lakes";
    src: local("TT Lakes"),
    url("./files/font/TTLakes/TTLakes-Regular.woff2") format("woff2"),
    url('./files/font/TTLakes/TTLakes-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display:swap;/*можно сделать optional как вариант*/
}

@font-face {
    font-family: "TT Lakes";
    src: local("TT Lakes"),
    url("./files/font/TTLakes/TTLakes-Bold.woff2") format("woff2"),
    url('./files/font/TTLakes/TTLakes-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: "TT Lakes";
    src: local("TT Lakes"),
    url("./files/font/TTLakes/TTLakes-Medium.woff2") format("woff2"),
    url('./files/font/TTLakes/TTLakes-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display:swap;
}

.hidden {
    display:none;
}


ul {
    margin: 0;
    padding: 0;
    list-style-type:none;
}

.header-name {
    font-family: "TT Lakes", "Arial", "Roboto Light",sans-serif ;
    font-weight: 400;
    font-size:16px;
    line-height: 24px;
    text-transform: uppercase;
    display:block;
    margin:0 8px;

}

.header {
    display:flex;
    justify-content: flex-start;
    background-image: linear-gradient( to right,#F2F2F2, #FFF);
    width: 100%;
    border-top: 1px solid #D9FFF5;
    padding:16px;

}

.brands-list {
    transition-duration: 1s;
}
.brands-list__link {
    box-sizing: border-box;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    display:flex;
    justify-content: flex-end;
    padding: 0 12px;
    height:72px;
    width: 224px;
    background-repeat: no-repeat;
    background-position: 15% 50%;
    background-color: white;
    margin-left: 32px;
    margin-top: 32px;
    }

.btn-more {
    font-family: "TT Lakes", "Arial", "Roboto Light",sans-serif ;
    display: block;
    cursor: pointer;
    background-image: url("./images/expand.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-color: transparent;
    padding-left: 24px;
    vertical-align: bottom;
    font-size: 16px;
    font-weight: 500;
    border: none;
    transition-duration: 1s;
}

.btn-more_opened {
    background-image: url("./images/expand2.svg");
}

.brands__btn-more {
    margin:32px;
}

.body {
    background-color: #F2F2F2;
    margin:0;
    padding:0;
}


@media (min-width: 20px) and (max-width: 767px){
    .brands-list {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        display: flex;
        align-items: baseline;
        scrollbar-width: none;
    }


    .nav__list::-webkit-scrollbar {
        display: none;
    }

    .btn-more {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1119px){
    .brands-list {
        max-width: 750px;
        display: flex;
        flex-wrap: wrap;
    }

    .brands-list__link {
        margin-left: 24px;
        margin-top: 24px;
    }
}

@media (min-width: 1120px) {
    .brands-list {
        max-width: 1120px;
        display: flex;
        flex-wrap: wrap;
    }
}

.button {
    border: 0;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    display: block;
    cursor: pointer;
}

.brands-list__button {
    background-image: url("./images/go.svg");
    }

.link1 {
    background-image: url("./images/brands/sams.png");
}
.link2 {
    background-image: url("./images/brands/sony.png");
}
.link3 {
    background-image: url("./images/brands/appl.png");
}
.link4 {
    background-image: url("./images/brands/acer.png");
}
.link5 {
    background-image: url("./images/brands/lenovo.png");
}
.link6 {
    background-image: url("./images/brands/hp.png");
}
.link7 {
    background-image: url("./images/brands/bosc.png");
}
.link8 {
    background-image: url("./images/brands/view.png");
}

.link9 {
    background-image: url("./images/brands/sams.png");
}
.link10 {
    background-image: url("./images/brands/sony.png");
}
.link11 {
    background-image: url("./images/brands/appl.png");
}
